<div class="container">

  <div class="template-heading">
    <h1>Coming soon...</h1>
    <p class="lead">I'm not quite there yet.  I'm learning and growing constantly, so check back soon.</p>
  </div>
</div><!-- /.container -->
