<div class="container">

  <div>
    <h1>Login</h1>
    <a class="btn btn-block btn-social btn-lg btn-reddit" href="/auth/reddit">
      <span class="fa fa-reddit"></span>
      Sign in with Reddit
    </a>
  </div>

</div><!-- /.container -->
