<footer class="footer">
  <div class="container">
    <p class="fine-print">&copy; <a class="footer-link" href="http://evilmousestudios.com/">Evil Mouse Studios</a> {{copyright_year}}
      <h6 class="fine-print">The Fine Print<br>
        <small>
          BorrowBot is a data collection, parsing, and analytics engine.  Any use of "scores" and "grades" are simply one very dumb robot's guess at the repayability of a loan.  Please don't use this as a basis of who is deserving of a loan and who isn't.  He doesn't know what he's talking about.  Seriously, did you look at those stats?  He's not even sure what day it is sometimes.  The main point here is that you shouldn't use this information as investment advice, it isn't.  It's for fun and novelty only.
        </small>
      </h6>
    </p>
  </div>
</footer>
